# Browsers that we support

# Production
[production]
>0.2%
not dead
not op_mini all

# Development
[development]
last 1 chrome version
last 1 firefox version
last 1 safari version
last 1 edge version
